:root {
  --light: #f6f6f6;
  --dark: #c4c4c4;
  --main: #5694f2;
  --alert: #f67058;
  --info: #cfbaf0;
  --accent: #fec347;
  --correct: #53c2c5;
}

* {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}
body {
  background-color: var(--light);
}
input {
  margin-top: 15px;
}
input[type="submit"] {
  background-color: var(--main);
  border-color: transparent;
  font-size: 26px;
  border-radius: 8px;
  width: 40%;
}
input[type="submit"]:hover {
  filter: opacity(80%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="text"] {
  font-family: "Kalam", cursive;
  border-radius: 0px 15px 15px 0px;
  width: 80%;
  font-size: 26px;
  border-color: 3px solid black;
  padding: 5px;
  -webkit-box-shadow: -8px 14px 0px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 14px 0px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 14px 0px -10px rgba(0, 0, 0, 0.75);
}
input[type="password"] {
  font-family: "Kalam", cursive;
  border-radius: 0px 15px 15px 0px;
  padding: 5px;
  width: 80%;
  font-size: 26px;
  border-color: 3px solid black;
  -webkit-box-shadow: -8px 14px 0px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 14px 0px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 14px 0px -10px rgba(0, 0, 0, 0.75);
}
input[type="email"] {
  font-family: "Kalam", cursive;
  border-radius: 0px 15px 15px 0px;
  width: 80%;
  font-size: 26px;
  padding: 5px;
  border-color: 3px solid black;
  -webkit-box-shadow: -8px 14px 0px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 14px 0px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 14px 0px -10px rgba(0, 0, 0, 0.75);
}

input[type="date"] {
  border-radius: 8px;
  margin-left: 15px;
  border-color: white;
}
a {
  text-decoration: none;
  font-size: 15px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
  text-align: left;
}
li {
  font-size: 26px;
}
nav {
  background-color: white;
  border-radius: 0px 30px 0px 0px;
  width: 15%;
  height: 100%;
  position: fixed;
  padding: 10px;
  font-size: 36px;
}
.inputs {
  text-align: center;
  align-content: center;
  align-items: center;
}
.icon {
  width: 10%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  margin-top: 15px;
  padding: 12px;
  background-color: white;
  border-radius: 15px 0px 0px 15px;
  border-right: transparent;
  border-left: 2px solid rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid rgba(0, 0, 0, 0.75);
  border-top: 2px solid black;
  -webkit-box-shadow: 12px 14px 0px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 14px 0px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 14px 0px -10px rgba(0, 0, 0, 0.75);
}
.user-container {
  text-align: center;
  border-radius: 10px;
  border: 3px solid var(--main);
  margin-bottom: 20px;
}
.user-container:hover {
  background-color: var(--main);
}
.user {
  color: black;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  font-size: 36px;
  font-weight: bold;
}
.display-container {
  text-align: center;
  border-radius: 10px;
  border: 3px solid lightgray;
}
.display-container:hover {
  text-align: center;
  border-radius: 10px;
  background-color: lightgray;
}
.display {
  color: black;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
}
.popup {
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  padding: 10px;
}

.card {
  position: fixed;
  text-align: center;
  width: 35%;
  height: max-content;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-card{
    font-family: "Kalam", cursive;
  border-radius: 15px;
  width: 20%;
  font-size: 26px;
  text-align: center;
  background-color: white;
  border-color: 3px solid var(--accent);
  -webkit-box-shadow: 0px 14px 0px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 0px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 0px -10px rgba(0, 0, 0, 0.75);
}

.list_cardheader {
    text-align: center;
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
  }
  .trash{
    color: var(--alert);
  }
.cardheader {
  font-size: 40px;
  text-align: center;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
}
.cardbody {
  padding: 20px;
  border-radius: 0px 0px 15px 15px;
  
}
.main {
  width: 80%;
  margin-left: 16%;
  padding: 20px;
}

.stats {
  width: 10%;
  height: max-content;
  padding-bottom: 30px;
  border-radius: 15px;
  padding: 10px;
  -webkit-box-shadow: 0px 14px 0px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 0px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 0px -10px rgba(0, 0, 0, 0.75);
}
.floatcontainer {
  margin: 10px;
  display: flex;
}
.gap {
  gap: 10px;
}
.floatchild {
  flex: 1;
}
.space-even {
  justify-content: space-evenly;
}
.space-between {
    justify-content: space-between;
  }
.mg-top-3{
    margin-top: 3%;
}
.mg-top-5{
    margin-top: 5%;
}
.mg-left-35{
    margin-left: 35%;
}
.light-bg {
  background-color: var(--light);
  color: black;
}
.main-bg {
  background-color: var(--main);
  color: black;
}
.accent-bg {
  background-color: var(--accent);
  color: black;
}
.info-bg {
  background-color: var(--info);
  color: black;
}
.correct-bg {
  background-color: var(--correct);
  color: black;
}
.alert-bg {
  background-color: var(--alert);
  color: black;
}
.alert-border {
    border-color: var(--alert);
  }
.hide {
  display: none;
}

@media (min-width: 280px) and (max-width: 768px) {
  .card {
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .floatcontainer {
    display: block;
  }
  .floatchild {
    flex: 0;
  }
}
